<a href="https://colab.research.google.com/github/tundao912/Python_Projects/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
import sklearn.preprocessing as MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

In [6]:
df = web.DataReader('AAPL', data_source='yahoo', start='2010-01-01',end='2021-02-25')
df

                  High         Low  ...       Volume   Adj Close
Date                                ...
2010-01-04    7.660714    7.585000  ...  493729600.0    6.583586
2010-01-05    7.699643    7.616071  ...  601904800.0    6.594968
2010-01-06    7.686786    7.526786  ...  552160000.0    6.490066
2010-01-07    7.571429    7.466071  ...  477131200.0    6.478067
2010-01-08    7.571429    7.466429  ...  447610800.0    6.521136
...                ...         ...  ...          ...         ...
2021-02-18  130.000000  127.410004  ...   96648100.0  129.710007
2021-02-19  130.710007  128.800003  ...   87525900.0  129.869995
2021-02-22  129.720001  125.599998  ...  103607600.0  126.000000
2021-02-23  126.709999  118.389999  ...  157859100.0  125.860001
2021-02-24  125.559998  122.230003  ...  111039904.0  125.349998

[2805 rows x 6 columns]

In [8]:
df.shape

(2805, 6)